button.dropt {
	background: #ffeedd;
}
button.dropt:hover {
	text-decoration: none;
	background: #5a96fc;
	z-index: 0; 
}
button.dropt span {
	position: absolute;
	left: -9999px;
  	margin: 10px 0 0 0px; 
  	padding: 3px 3px 3px 3px;
  	border-style: solid; 
  	border-color: black; 
  	border-width: 1px; 
  	z-index: 6;
}
button.dropt:hover span {
	left: 2%; 
	background: #ffffff;
} 
button.dropt span {
	position: absolute; 
	left: -9999px;
  	margin: 10px 0 0 0px; 
  	padding: 10px 10px 3px 3px; 
  	border-style:solid; 
  	border-color:black; 
  	border-width:1px;
}
button.dropt:hover span {
	margin: 20px 0 0 100px; 
	background: #ffffff; 
	z-index:6;
} 
button.dropt span span {
	border-color: black;
	border-width: 10px;
}
button.dropt:hover span span{
	border-color: black;
	border-width: 0px;
}

body, html {
          height: 100%;
          margin: 0;
          -webkit-font-smoothing: antialiased;
          font-weight: 100;
          background: #aadfeb;
          text-align: center;
          font-family: helvetica;
      }
       
      .tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 650px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 20px auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 5px 5px 5px 5px;
          color: #08C;
          font-size: 24px;
          font-weight: normal;
          font-family: 'Lily Script One', helveti;
          background: transparant;
          cursor: pointer;
          position: relative;
          top: 12px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.5);
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #08C;
        color: white;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
      	border-radius: 10px 10px 10px 10px;
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        font-size: 16px;
        line-height: 150%;
        padding-top: 10px;
        background: #558dc0;
        padding: 10px;
        color: white;
        position: absolute;
        top: 50px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
      }
